In [1]:
import yfinance as yf

In [3]:
msft = yf.Ticker("MRF.NS")

In [5]:
income_statement=msft.income_stmt

In [19]:
income_statement.loc[["Total Revenue", "Operating Revenue", "Gross Profit", "Operating Income", "Net Income", "Basic EPS", "EBITDA","Operating Revenue"]]

,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Total Revenue,250108100000.0,228505600000.0,190271500000.0,160766700000.0
Operating Revenue,250108100000.0,228505600000.0,190271500000.0,160766700000.0
Gross Profit,94641500000.0,69932800000.0,60587800000.0,64882000000.0
Operating Income,28992500000.0,12028700000.0,9581800000.0,19051900000.0
Net Income,20812300000.0,7689400000.0,6692400000.0,12770700000.0
Basic EPS,4907.24,1813.04,1577.97,3011.14
EBITDA,45656100000.0,26371000000.0,23623400000.0,31473500000.0
Operating Revenue,250108100000.0,228505600000.0,190271500000.0,160766700000.0

In [11]:
cashflow=msft.cashflow

In [17]:
cashflow.loc[['Free Cash Flow','Operating Cash Flow']]

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Free Cash Flow,11381800000.0,-5357700000.0,-22850200000.0,34718400000.0,NaN
Operating Cash Flow,33005000000.0,27554700000.0,-5780100000.0,43245800000.0,NaN